@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
  background-image: url('game.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fffcf2;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.board {
  text-align: center;
  margin: 0 auto;
  background-color: #272724;
  border: 2px solid #1b1b1a;
}

.items-container {
  margin: 0 auto;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
}

.items-container div {
  width: 33%;
  height: 80px;
}

.life-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #1f1f1f;
  letter-spacing: 1px;
  font-size: 20px;
}

.face-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-shadow: 1px 1px #1f1f1f;
  letter-spacing: 1px;
}

.face-icon {
  font-size: 65px;
  cursor: pointer;
}

.inputs-container {
  margin-bottom: 40px;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  background-color: #c4501b;
  border: 2px solid #c4501b;
  color: #fffcf2;
}

input[type='radio']:checked:hover + label {
  background-color: #c4501b;
  border: 2px solid #c4501b;
  color: #fffcf2;
}

input[type='radio']:hover + label {
  background-color: #ffbf69;
  color: #fffcf2;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

label {
  position: relative;
  color: #fffcf2;
  font-size: 20px;
  background-color: #1d1c1b;
  border: 2px solid #ffbf69;
  border-radius: 5px;
  padding: 10px 50px;
  margin-right: 15px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  background-color: #eb5e28;
  border: 3px solid #1d1c1b;
  color: #eb5e28;
  cursor: pointer;
}

.cell:hover {
  background-color: #ffbf69;
  color: #ffbf69;
}

.cell-empty {
  background-color: rgb(82, 82, 151);
  color: rgb(82, 82, 151);
}

.showCell {
  width: 50px;
  height: 50px;
  border: 3px solid #1d1c1b;
  background-color: #252422;
  color: #fffcf2;
  font-weight: 700;
  font-size: 25px;
  pointer-events: none;
}

.cellone {
  width: 50px;
  height: 50px;
  border: 3px solid #1d1c1b;
  background-color: #252422;
  color: #fffcf2;
  font-weight: 700;
  font-size: 25px;
  pointer-events: none;
}

.mine {
  background-image: url('bomb.png');
  font-size: 25px;
}

.marked {
  background: url('flag.svg');
  background-size: 60px 60px;
  background-color: #eb5e28;
  color: #eb5e28;
}

footer {
  margin-top: 25px;
  font-size: 20px;
  text-shadow: 2px 2px #1f1f1f;
}

.modal {
  display: none;
  background-color: #1f1f1f;
  border: 2px solid #eb5e28;
  border-radius: 5%;
  width: 20%;
  margin: 50px auto;
  padding: 30px 0;
  z-index: 9999;
}

.modal h1 {
  letter-spacing: 5px;
  font-size: 60px;
  margin-bottom: 20px;
}

.modal button {
  padding: 25px 40px;
  border-radius: 5%;
  font-size: 25px;
  border: 1px solid transparent;
  background-color: #eb5e28;
  cursor: pointer;
  color: #fffcf2;
  transition: all 0.2s ease-in-out;
}

.modal button:hover {
  background-color: #ffbf69;
  color: #fffcf2;
}

.hints {
  margin-bottom: 5px;
}

.lights {
  cursor: pointer;
}

.btn-safe {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px 15px;
  border: 2px solid #ccc;
  border-radius: 10%;
  background-color: #eb5e28;
  cursor: pointer;
  color: #fffcf2;
  transition: all 0.3s ease-in-out;
}

.btn-safe:hover {
  background-color: #ffbf69;
}

.score-container {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 350px;
  height: 400px;
  background-color: #1d1c1b;
  border: 2px solid #ffbf69;
  border-radius: 5%;
  display: none;
}

.extra-container {
  position: absolute;
  top: 120px;
  right: 150px;
  width: 350px;
  height: 400px;
  background-color: #1d1c1b;
  border: 2px solid #ffbf69;
  border-radius: 5%;
}

.score-container-title {
  margin-top: 10px;
  font-size: 25px;
}

.line {
  background-color: #ffbf69;
  height: 3px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.score-container-title span {
  font-size: 23px;
}

.score-container div {
  font-size: 25px;
  height: 10px;
}
